*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    color: #000;
    line-height: 1.4;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1,p,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

.object-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.common-head{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.common-head h3{
    font-weight: 700;
    font-size: 1rem;
    color: var(--active);
}

.common-head h2{
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--primary);
    padding: 10px 0px 10px 0px;
}

:root{
    --primary: #013289;
    --active: #4154f1;
    --text: #fff;
    --dark: #000;
    --light: #f6f9ff;
}

/******************** HEADER **********************/

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: ease 300ms;
    z-index: 1030;
}

header h1{
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--primary);
    padding-left: 10%;
}

.navigation{
    display: flex;
    list-style: none;
    padding-right: 10%;
}

.navigation a{
    text-decoration: none;
}

.list-item{
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 30px;
    color: var(--primary);  
    cursor: pointer;
    transition: 200ms ease;
}

.active{
    font-size: 1.2rem;
    color: var(--active);
    font-weight: 700;
}

.navigation li:hover{
    transform: scale(1.2);
    color: var(--active);
}

header p{
    display: none;
    padding-right: 10%;
    font-size: 28px;
    padding-top: 1%;
    color: var(--active);
    cursor: pointer;
}

/******************** HERO BANNER **********************/

.hero-banner{
    background-image: url(/images/hero-bg.png);
    background-attachment: fixed;
    min-height: 100vh;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.hero-text{
    width: 50%;
}

.hero-text h2{
    font-size: 3rem;
    color: var(--primary);
    padding-top: 70px;
}

.hero-text h3{
    font-size: 1.5rem;
    color: var(--dark);
    font-weight: 400;
    padding-top: 30px;
}

/******************** WHO WE ARE **********************/

.who-we-are{
    margin-bottom: 40px;
}

.about{
    display: flex;
    max-width: 1150px;
}

.about-text{
    background-color: var(--light);
    padding: 20px;
    width: 50%;
}

.about-text h4{
    font-size: 1rem;
    color: var(--active);
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 10px;
}

.about-text h2{
    color: var(--primary);
    font-size: 1.3rem;
    padding-bottom: 20px;
}

.about-text p{
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 30px;
}

.about-text button{
    background-color: var(--active);
    color: var(--text);
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.about-text button:hover{
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.about-image img{
    width: 600px;
}

/******************** OUR VALUES**********************/

.our-values{
    padding-top: 40px;
    margin-bottom: 40px;
}

.cards-container{
    flex-wrap: wrap;
    width: 100%;
}

.cards{
    max-width: 350px;
    margin: 40px 30px 40px 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: ease 300ms;
}

.cards:hover{
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.card-head{
    padding: 20px 30px 20px 30px;
}

.card-head:hover img{
    transform: scale(0.9);
}

.card-head img{
    max-width: 100%;
    transition: ease 300ms;
}

.card-head h2{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary);
}

.card-desc{
    padding: 0px 30px 20px 30px;
    transition: ease 300ms;
}

.card-desc p{
    font-weight: 400;
    font-size: 1rem;
    color: var(--dark);
}

/******************** HAPPY CLIENTS **********************/

.happy-clients{
    display: grid;
    justify-self: center;
    max-width: 100%;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
    margin-bottom: 40px;
    margin-top: 40px;
}

.smile{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    padding: 20px 40px 20px 40px;
    margin: 20px;
    max-width: 300px;
}

.smile i{
    font-size: 3rem;
    color: var(--active);
    margin-right: 20px;
}

.smile h5{
    font-weight: 400;
    padding-top: 0.5rem;
    font-size: 1rem;
}

.projects{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    padding: 20px 40px 20px 40px;
    margin: 20px;
    max-width: 300px;
}

.projects i{
    font-size: 3rem;
    margin-right: 20px;
    color: orange;
}

.projects h5{
    font-weight: 400;
    padding-top: 0.5rem;
    font-size: 1rem;
}

.headphone{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    padding: 20px 40px 20px 40px;
    margin: 20px;
    max-width: 300px;
}

.headphone i{
    font-size: 3rem;
    margin-right: 20px;
    color: lightgreen;
}

.headphone h5{
    font-weight: 400;
    padding-top: 0.5rem;
    font-size: 1rem;
}

.people{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    padding: 20px 40px 20px 40px;
    margin: 20px;
    max-width: 300px;
}

.people i{
    font-size: 3rem;
    margin-right: 20px;
    color: maroon;
}

.people h5{
    font-weight: 400;
    padding-top: 0.5rem;
    font-size: 1rem;
}

/******************** FEATURES **********************/

.features{
    padding-top: 40px;
}

.feature-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.feature-image{
    display: flex;
    justify-content: center;
    max-width: 50%;
}

.feature-image img{
    max-width: 80%;
}

.feature-flags{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.feature-flags h3{
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--primary);
    padding: 30px;
    margin: 20px 10px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    max-height: 85px;
}
.feature-flags h3::before{
    content: "\f00c";
    font-family: FontAwesome;
    background: #ecf9fd;
    padding: 9px;
    border-radius: 6px;
    font-size: 1rem;
    transition: 500ms ease;
    margin-right: 10px;
}

.feature-flags h3:hover::before{
    background: var(--primary);
    color: var(--text);
}

/******************** FEATURE BOX **********************/

.feature-box2{
    display: flex;
    padding-top: 40px;
    max-width: 1300px;
    margin-bottom: 40px;
}

.feature-text{
    padding: 20px;
    max-width: 55%;
}
.feature-text h2{
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary);
    padding-bottom: 20px;
}

.feature-text button{
    border: none;
    font-weight: 700;
    font-size: 1rem;
    color: var(--primary);
    margin-top: 20px;
    cursor: pointer;
    margin: 5px;
    background-color: var(--text);
    padding-bottom: 15px;
    border-bottom: transparent solid 3px
}

.button-focus{
    color: var(--active) !important;
    border-bottom: var(--active) solid 3px !important;
}

.changing-text{
    display: flex;
}

.text-hide h4{
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--primary);
    padding: 10px 10px 10px 0;
}

.text-hide h4::before{
    content: "\f00c";
    font-family: FontAwesome;
    background: var(--text);
    padding-right: 10px;
}

.text-hide p{
    font-size: 1rem;
    font-weight: 500;
}

.text1-hide{
    display: none;
    opacity: 0;
}

.text2-hide{
    display: none;
    opacity: 0;
}

.text3-hide{
    display: none;
    opacity: 0;
}

.text-show{
    display: block;
    opacity: 1;
    transition: 400ms ease;
}

.feature-image2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-image2 img{
    max-width: 100%;
}

/******************** SERVICES **********************/

.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1170px;
    margin-bottom: 40px;
}

.services-cards{
    max-width: 350px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin: 20px;
    padding: 40px 10px 20px 10px;
    border-radius: 0.7rem;
    transition: 500ms ease;
}

.card-header{
    text-align: center;
}

.card-header span{
    font-size: 3rem;
    color: #2db6fa;
    background-color: #dbf3fe;
    padding: 20px;
    border-radius: 0.3rem;
}

.card-header h2{
    font-weight: 700;
    font-size: 2rem;
    padding: 20px;
}

.fa-twitch{
    font-family: FontAwesome;
}

.card-footer{
    padding-bottom: 30px;
}

.card-footer h5{
    font-size: 1.1rem;
    padding: 0px 20px 30px 20px;
    font-weight: 400;
    text-align: center;
}

.card-footer p{
    text-align: center;
    cursor: pointer;
}

.services-cards:nth-child(1n):hover span{
    background-color: #fff;
}

.services-cards:hover p{
    color: var(--text);
} 

.services-cards:nth-child(1n){
    border-bottom: #2db6fa 4px solid;
}

.services-cards:nth-child(2n){
    border-bottom: #f68c09 4px solid;
}

.services-cards:nth-child(3n){
    border-bottom: #08da4e 4px solid;
}

.services-cards:nth-child(4n){
    border-bottom: #e9222c 4px solid;
}

.services-cards:nth-child(5n){
    border-bottom: #b50edf 4px solid;
}

.services-cards:nth-child(6n){
    border-bottom: #f51f9c 4px solid;
}

.services-cards:nth-child(1n):hover{
    background-color: #2db6fa;
    color: var(--text);
}

.services-cards:nth-child(2n):hover{
    background-color: #f68c09;
    color: var(--text);
    border-bottom: #f68c09 2px solid;
}

.services-cards:nth-child(3n):hover{
    background-color: #08da4e;
    color: var(--text);
    border-bottom: #08da4e 2px solid;
}

.services-cards:nth-child(4n):hover{
    background-color: #e9222c;
    color: var(--text);
    border-bottom: #e9222c 2px solid;
}

.services-cards:nth-child(5n):hover{
    background-color: #b50edf;
    color: var(--text);
    border-bottom: #b50edf 2px solid;
}

.services-cards:nth-child(6n):hover{
    background-color: #f51f9c;
    color: var(--text);
    border-bottom: #f51f9c 2px solid;
}

/******************** Contact Us **********************/

.contact-container{
    display: flex;
    width: 1170px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.contact-details{
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit,250px);
    gap: 20px;
}

.details{
    width: 250px;
    padding: 20px;
    background-color: #f6f9ff;
    border-radius: 6px;
}

.details i{ 
    color: var(--active);
    font-size: 2.5rem;
    padding-top: 10px;
    padding-bottom: 20px;
}

.details h2{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 10px;
}

.details h5{
    font-weight: 400;
    padding-bottom: 5px;
}

.contact-form{
    width: 50%;
    padding: 20px;
    background-color: #f6f9ff;
    text-align: center;
    border-radius: 6px;
}

.form-input{
    width: 100%;
}

.form-input input{
    width: 49%;
    height: 50px;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    margin: 20px 0px;
    border: 1px solid lightgray;
}

.form-text input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid lightgray;
}

.form-text textarea{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    margin: 10px 0;
    resize: none;
    border: 1px solid lightgray;
}

.contact-form button{
    background-color: var(--active);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
}

/******************** NEWSLETTER **********************/

footer{
    padding: 50px 0;
    background-color: #f6f9ff;
}

.newsletter{
    padding: 30px;
    text-align: center;
}

.newsletter h3{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 30px;
    color: var(--primary);
}

.subscribe{
    border: 1px solid lightblue;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 50px 0px;
    border-radius: 8px;
    padding: 2px;
    transition: 300ms ease;
}

.subscribe:hover{
    border: 1px solid #2db6fa;
}

.subscribe input{
    outline: none;
    border: none;
    width: 80%;
}

.subscribe button{
    background-color: var(--active);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
}

.main-footer-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background: #fff url(/images/footer-bg.png) no-repeat right;
}

.main-footer{
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
}

.footer-about{
    max-width: 45%;
    padding: 20px;
}

.footer-about h1{
    color: var(--primary);
}

.footer-about p{
    font-size: 0.8rem;
    font-weight: 500;
    margin: 10px 10px 10px 0px;
}

.main-footer li{
    list-style: none;
    color: var(--primary);
    font-size: 0.9rem;
    padding-bottom: 10px;
    cursor: pointer;
}

.main-footer li::before{
    content: ">";
    color: lightgray;
    font-size: 0.9rem;
    padding-right: 3px;
}

.main-footer li:nth-child(1)::before{
    content: " ";
}

.main-footer li:nth-child(1){
    font-size: 1.1rem;
    font-weight: 600;
}

.contact-us-footer{
    max-width: 250px;
    font-size: 0.9rem;
}

.contact-us-footer p{
    padding-bottom: 20px;
}

.contact-us-footer h5{
    font-size: 0.9rem;
    font-weight: 300;
}

@media only screen and (max-width: 1300px){

    .feature-flags h3{
        padding: 20px;
        font-size: 1rem;
    }

    .feature-flags h3::before{
        font-size: 0.9rem;
    }

    .feature-box2{
        max-width: 100%;
    }

}

@media only screen and (max-width: 1170px){

    .common-head h2{
        font-size: 2rem;
    }

    header h1{
        padding-left: 2%;
    }

    .navigation{
        padding-right: 2%;
    }

    .hero-content{
        display: block;
        text-align: center;
        width: 100%;
    }

    .hero-text{
        padding-top: 150px;
        padding-right: 5%;
        padding-left: 5%;
        width: 100%;
    }

    .hero-image{
        padding-top: 40px;
    }

    .about-text h4{
        padding-top: 10px;
    }

    .about-text h2{
        font-size: 1.1rem;
    }

    .about-text p{
        font-size: 0.9rem;
    }

    .about-image img{
        width: 550px;
    }

    .cards{
        max-width: 400px;
    }

    .feature-box{
        flex-wrap: wrap;
    }

    .feature-image{
        max-width: 100%;
        padding: 30px;
        display: flex;
        justify-content: center;
    }

    .feature-image img{
        max-width: 75%;
    }

    .feature-flags{
        width: 100%;
        padding: 30px;
    }
    .feature-flags h3{
        padding: 30px;
        font-size: 1.2rem;
    }

    .feature-flags h3::before{
        font-size: 1rem;
    }

    .feature-box2{
        flex-wrap: wrap;
    }

    .feature-text{
        max-width: 100%;
    }

    .feature-image2 img{
        max-width: 65%;
        padding-top: 30px;
    }

    .contact-container{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contact-details{
        grid-template-columns: repeat(auto-fit, 320px);
        max-width: 80%;
    }

    .details{
       width: 100%;
    }

    .contact-form{
        width: 90%;
    }

}

@media only screen and (max-width: 850px) {

    header{
        padding-top: 1%;
        padding-bottom: 1%;
    }

    header p{
        display: block;
    }
    .navigation{
        position: fixed;
        display: block;
        left: -100%;
        top: 63px;
        height: calc(100vh - 63px);
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: var(--primary);
        transition: ease 300ms;
        overflow-y: auto;
    }

    .ham-active{
        position: fixed;
        left: 0;
    }

    .navigation li{
        margin: 0;
        padding: 0;
        text-align: center;
        padding: 1rem 0;
        border-bottom: 1px solid lightgray;
        color: var(--text);
        font-size: 1.2rem;
    }

    .hero-text h2{
        padding-top: 10px;
    }

    .about{
        display: block;
        width: 100%;
        padding: 30px;
    }

    .about-text{
        padding: 40px 40px;
        width: 100%;
    }

    .about-text h2{
        font-size: 1.5rem;
    }

    .about-text h4{
        font-size: 1.2rem;
    }

    .about-text p{
        font-size: 1.2rem;
    }

    .about-image{
        width: 100%;
    }

    .about-image img{
        width: 100%;
    }

    .common-head h2{
        font-size: 2rem;
    }

    .cards{
        max-width: 450px;
    }

    .feature-flags h3{
        padding: 20px;
        font-size: 1rem;
    }

    .feature-flags h3::before{
        font-size: 0.9rem;
    }

    .feature-image2 img{
        max-width: 70%;
    }

    .services-cards{
        max-width: 280px;
        margin: 20px 10px 20px 10px;
    }

    .contact-details{
        grid-template-columns: repeat(auto-fit, 280px);
        max-width: 100%;
    }

    .main-footer{
        max-width: 100%;
    }

    .footer-about{
        max-width: 50%;
    }

}

@media only screen and (max-width: 620px){

    .hero-text{
        padding-top: 10px;
    }

    .hero-text h2{
        font-size: 2.5rem;
        padding-top: 10px;
    }

    .hero-image img{
        max-width: 100%;
    }

    .about-text{
        padding: 20px 20px;
    }

    .about-text h4{
        font-size: 1rem;
    }

    .our-values{
        padding-top: 0px;
    }

    .common-head h2{
        font-size: 1.7rem;
    }

    .cards{
        width: 400px;
    }

    .happy-clients{
        grid-template-columns: repeat( auto-fit, minmax(100%, 1fr));
    }

    .smile{
        max-width: 100%;
    } 

     .projects{
        max-width: 100%;
    }

    .headphone{
        max-width: 100%;
    }

    .people{
        max-width: 100%;
    }

    .feature-flags{
        grid-template-columns: 100%;
        margin-top: 0;
        
    }

    .feature-flags h3{
        margin: 20px 30px 20px 0px;
        width: 100%;
    }

    .feature-box2{
        padding-top: 0;
    }

    .feature-text h2{
        font-size: 1.7rem;
    }

    .feature-image2 img{
        max-width: 75%;
    }

    .services-cards{
        max-width: 350px;
        margin: 20px 10px 20px 10px;
    }

    .contact-details{
        padding: 30px;
        grid-template-columns: repeat(auto-fit, 100%);
    }

} 

@media only screen and (max-width: 450px){

    .hero-text{
        padding-top: 10px;
    }

    .hero-text h2{
        padding-top: 80px;
    }

    .about-text h2{
        font-size: 1.1rem;
    }

    .about-text p{
        font-size: 0.9rem;
    }

    .about-text button{
        font-size: 0.8rem;
        padding: 0.8rem 1.5rem;
    }

    .cards{
        width: 320px;
    }

    .card-head h2{
        font-size: 1.2rem;
    }

    .card-desc p{
        font-size: 0.9rem;
    }

    .feature-text h2{
        font-size: 1.4rem;
        text-align: center;
    }

    .feature-text button{
        font-size: 0.8rem;
    }

    .text-hide h4{
        font-size: 1.1rem;
    }

    .text-hide p{
        font-size: 0.9rem;
    }

    .feature-image2 img{
        max-width: 100%;
    }

    .services-cards{
        max-width: 300px;
        margin: 20px 10px 20px 10px;
    }

    .footer-about{
        max-width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 350px){

    .about-text h2{
        font-size: 0.9rem;
    }

    .about-text p{
        font-size: 0.8rem;
    }

    .hero-text h2{
        font-size: 2rem;
        padding-top: 50px;
    }

    .cards{
        width: 250px;
    }

    .card-desc {
        font-size: 0.9rem;
    }

    .feature-flags{
        padding: 10px;
    }

    .feature-flags h3{
        margin: 20px 0px 20px 0px;
        width: 100%;
    }

    .changing-text{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .feature-text h2{
        font-size: 1.2rem;
    }

    .text-hide h4{
        font-size: 1rem;
    }

    .services-cards{
        max-width: 280px;
        margin: 20px 10px 20px 10px;
    }

    .card-header h2{
        font-size: 1.5rem;
    }

    .card-footer h5{
        font-size: 0.9rem;
    }

    .main-footer{
        justify-content: center;
    }

    .main-footer ul{
        text-align: center;
        padding: 0;
    }
}

